.yachts-rental {
    /* padding: 75px 0; */
    
}

.container {;
}

.yachts-rental-card {
    background: #fbfbfb;
    border-radius: 24px;
    overflow: hidden;
    padding: 50px;
    width: 1180px;
    
}

.yachts-rental-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.yachts-rental-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 537px;
}

.yachts-rental-descr {
    max-width: 354px;

}

.yachts-rental-subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.yachts-rental-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.yachts-rental-photo {
    position: relative;
    right: 50px;
    top: 105px;
    /* display: block;
        width: 100%;
        height: auto; */
}